/* Fondo de la página */
.login-container {
    font-family: "Nothing You Could Do", cursive;
min-height: 72.5vh;
background: linear-gradient(135deg, #F5EFDD, #b6983d);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form {
display: flex;
flex-direction: column;
width: 350px;
background-color: #F5EFDD;
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form input {
 margin: 10px;
 border-radius: 5px;
 border: 1px solid #b6983d;       
}

.btn-login {
    margin: 10px;
 border-radius: 5px;
 border: 1px solid #b6983d;
    
}